.custom-list{
display: inline-block;
margin:0% auto;
text-align: left;
padding-left: 20px;
padding-right: 20px;
}

.custom-list li{
    margin-bottom: 10px;
}
.logbox :hover{
    background-color: #b831b6;
    color: #5d1048;
}
.audio-container {
    text-align: center;
    margin-top: 20px;
}
.video-container {
    text-align: center;
    margin-top: 20px;
    
}
.video-container video {
    width: 100%;
    max-width: 600px;
}
body{
    background-image: url('WhatsApp Image 2026-07-30 at 9.14.13 PM (1).jpeg');
    margin: 0;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.text-container {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    font-variant: small-caps;
    font-display:fallback;
    color: black;
    text-decoration:underline;
    text-shadow: 2px 2px 5px rgba(29, 54, 198, 0.708);
}

.contact-button {
    background-color: #5d1048;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.contact-button:hover {
    background-color: #3c411ee1;
}
h1{
    text-align: center;
    color: #d32044cc; 

}
.details {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 100px;
}
body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}
#connectBtn {
    margin-top: 20px;
    padding: 12px 30px;

    background: linear-gradient(135deg, #006eff, #00c6ff);

    color: white;

    border: none;
    border-radius: 25px;

    font-size: 16px;
    font-weight: bold;

    cursor: pointer;

    transition: 0.3s ease;

    box-shadow: 0 5px 15px rgba(0, 140, 255, 0.3);
}

#connectBtn:hover {
    transform: translateY(-5px) scale(1.05);

    box-shadow: 0 10px 30px rgba(0, 200, 255, 0.6);
}
